@input-color: #FFD6E9;
@background-colour: #FFCDE9;
@mobile-task-background: #DEA8B8;
@hot-pink: #E822CB;
@vivid-purple: #AD0AE8;
@deep-purple: #8009DB;
@grey: #777777;

// -- Blue --
//@input-color: #E9D4FF;
//@background-colour: #CDBBE0;
//@mobile-task-background: #A7A6DE;
//@hot-pink: #0073FF;
//@vivid-purple: #1F00FF;
//@deep-purple: #0E0073;
//@grey: #777777;

@anim-name: spin;
@anim-duration: 1s;
@anim-repeat: infinite;
@anim-timing: linear;

@header-height: 180px;
@switchover-width: 975px;

html {
    min-height: 100%;
    background-color: @background-colour;
}

.party-mode {
    -webkit-animation-name: crazy-colour-fun;
    -webkit-animation-iteration-count: @anim-repeat;
    -webkit-animation-timing-function: @anim-timing;
    -webkit-animation-duration: 1s;
}

body {
    background: @background-colour;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: @hot-pink;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

section {
    padding: 10px;
}

.scroll-fixer {
    position: fixed;
    z-index: 10;
    height: @header-height;
    width: 100%;
    overflow: hidden;
    background-color: @background-colour;
}

.scrollable {
    padding-top: @header-height;
}

.todo-done {
    color: @grey;
}

#new-todo {
    transition: all 1s;
    background-color: @input-color;
    padding: 7px 10px;
    box-shadow: 0 0 0 @deep-purple;
    outline: none;
    border-radius: 3px;
    border: 1px solid @deep-purple;

    &:focus {
        box-shadow: 0 0 10px @deep-purple;
    }
}

button, input[type="submit"] {
    transition: background-color 0.3s, box-shadow 0.3s;
    background-color: @hot-pink;
    color: @background-colour;
    border-radius: 3px;
    height: 30px;
    border: 1px solid @vivid-purple;
    padding: 3px 10px;
    margin: 0 5px;
    box-shadow: 0 0 0 @deep-purple;
    outline: none;
    font-weight: bold;

    &:hover {
        box-shadow: 0 0 15px @deep-purple;
        background-color: @vivid-purple;
        outline: none;
    }

    &:disabled {
        background-color: @input-color;
        color: @grey;
        box-shadow: none;
        font-weight: normal;
    }
}

#todo-form, #count-label, #search-box {
    display: inline-block;
    text-align: center;
}

#search-box {
    .edit-text {
        width: calc(~"100% - 20px");
        margin: 0 10px;
    }
}

.edit-text {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid @deep-purple;
}

#header-section {
    #todo-form {
        width: 49%;
    }

    #count-label {
        width: 24.5%;
    }

    #search-box {
        width: 24%;
    }

    &.delete-button-visible {
        #todo-form {
            width: 40%;
        }

        #count-label {
            width: 30%;
        }

        #search-box {
            width: 30%;
        }
    }
}

#new-todo {
    width: calc(~"100% - 110px");
}

#todo-list-placeholder {
    text-align: center;
}

#todo-list-loading-spinner {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    margin: 30px;
    box-shadow: 20px 0 0 rgba(230, 2, 255, 1),
                15px 13px rgba(230, 2, 255, 0.83),
                5px 20px 0 rgba(230, 2, 255, 0.66),
                -5px 20px 0 rgba(230, 2, 255, 0.5),
                -15px 13px 0 rgba(230, 2, 255, 0.33),
                -20px 0 0 rgba(230, 2, 255, 0.17);

    // Browser compatibility
    -webkit-animation-name: @anim-name;
    -webkit-animation-iteration-count: @anim-repeat;
    -webkit-animation-timing-function: @anim-timing;
    -webkit-animation-duration: @anim-duration;

    -moz-animation-name: @anim-name;
    -moz-animation-iteration-count: @anim-repeat;
    -moz-animation-timing-function: @anim-timing;
    -moz-animation-duration: @anim-duration;

    -ms-animation-name: @anim-name;
    -ms-animation-iteration-count: @anim-repeat;
    -ms-animation-timing-function: @anim-timing;
    -ms-animation-duration: @anim-duration;

    animation-name: @anim-name;
    animation-iteration-count: @anim-repeat;
    animation-timing-function: @anim-timing;
    animation-duration: @anim-duration;

    display: inline-block;
}

#mark-done-box {
    height: 40px;

    button {
        margin: 5px;
        width: calc(~"25% - 15px");
    }

    &.delete-button-visible {
        button {
            width: calc(~"20% - 15px");
        }
    }
}

.todo-done, .todo-item {
    margin: 1.2em 0;

    form {
        width: 80%;
        display: inline-block;

        .edit-text {
            width: calc(~"100% - 130px");
        }

        .edit-save {
            width: 90px;
        }
    }

    div {
        width: 80%;
        display: inline-block;
    }

    button {
        width: calc(~"10% - 15px");
        margin: 0 5px;
        color: @background-colour;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }

        &:disabled {
            color: black;
        }
    }
}

@media(max-width:1100px) {
    .todo-done, .todo-item {

        form {
            width: 60%;
        }

        div {
            width: 60%;
        }

        button {
            width: calc(~"20% - 15px");
        }
    }
}

@media(max-width:@switchover-width)
{
    .scroll-fixer {
        position: static;
        height: initial;
        width: 100%;
        overflow: hidden;
    }

    .scrollable {
        padding-top: 0;
    }

    #header-section, #header-section.delete-button-visible {
        #todo-form, #count-label, #search-box {
            display: block;
            width: 100%;
        }
    }

    #mark-done-box {
        height: auto;

        button {
            width: 100%;
            display: block;
        }

        &.delete-button-visible {
            button {
                width: 100%;
                display: block;
            }
        }
    }

    .todo-done, .todo-item {
        background-color: @mobile-task-background;
        text-align: center;
        margin: 1em 0;

        form {
            width: 100%;
            display: block;

            .edit-text {
                display: block;
                width: calc(~"100% - 14px");
            }

            .edit-save {
                display: block;
                width: 100%;
                margin: 0;
            }
        }

        div {
            display: block;
            margin: 1em 0;
            width: 100%;
        }

        button {
            margin: 0;
            display: block;
            width: 100%;
        }
    }
}

// Browser compatibility

@-webkit-keyframes spin
{
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    50% {
        box-shadow: 20px 0 0 rgba(128, 9, 219, 1),
                    15px 13px rgba(128, 9, 219, 0.83),
                    5px 20px 0 rgba(128, 9, 219, 0.66),
                    -5px 20px 0 rgba(128, 9, 219, 0.5),
                    -15px 13px 0 rgba(128, 9, 219, 0.33),
                    -20px 0 0 rgba(128, 9, 219, 0.17);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes crazy-colour-fun {
    from { -webkit-filter: hue-rotate(0deg); }
    to { -webkit-filter: hue-rotate(360deg); }
}


@-moz-keyframes spin
{
    0% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    50% {
        box-shadow: 20px 0 0 rgba(128, 9, 219, 1),
                    15px 13px rgba(128, 9, 219, 0.83),
                    5px 20px 0 rgba(128, 9, 219, 0.66),
                    -5px 20px 0 rgba(128, 9, 219, 0.5),
                    -15px 13px 0 rgba(128, 9, 219, 0.33),
                    -20px 0 0 rgba(128, 9, 219, 0.17);
    }
    100% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-ms-keyframes spin
{
    0% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    50% {
        box-shadow: 20px 0 0 rgba(128, 9, 219, 1),
                    15px 13px rgba(128, 9, 219, 0.83),
                    5px 20px 0 rgba(128, 9, 219, 0.66),
                    -5px 20px 0 rgba(128, 9, 219, 0.5),
                    -15px 13px 0 rgba(128, 9, 219, 0.33),
                    -20px 0 0 rgba(128, 9, 219, 0.17);
    }
    100% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes spin
{
    0% {
        transform: rotate(360deg);
    }
    50% {
        box-shadow: 20px 0 0 rgba(128, 9, 219, 1),
                    15px 13px rgba(128, 9, 219, 0.83),
                    5px 20px 0 rgba(128, 9, 219, 0.66),
                    -5px 20px 0 rgba(128, 9, 219, 0.5),
                    -15px 13px 0 rgba(128, 9, 219, 0.33),
                    -20px 0 0 rgba(128, 9, 219, 0.17);
    }
    100% {
        transform: rotate(0deg);
    }
}
