<div class="scroll-fixer">
    <header apply-class-on-click="party-mode">
        <h1>TODO List</h1>
    </header>
    <section id="header-section" ng-class="{'delete-button-visible': itemsDone}">
        <form id="todo-form" ng-submit="createTodo()">
            <input id="new-todo" placeholder="What needs to be done?" autofocus ng-model="todoToCreate">
            <input id="submit-todo" type="submit" value="Create">
        </form>
        <div id="count-label">
            There {{itemsLeftToDo == 1 ? "is" : "are"}} {{itemsLeftToDo}} thing{{itemsLeftToDo === 1 ? "" : "s"}}
            left to do
        </div>
        <div id="search-box">
            <input class="edit-text" type="text" ng-model="search.title" placeholder="Search"/>
        </div>
        <div id="mark-done-box" ng-class="{'delete-button-visible': itemsDone}">
            <button id="delete-all-done-button" ng-click="deleteAllDone()" ng-show="itemsDone">
                Delete All Completed
            </button>
            <button id="view-all-button"
                    ng-click="resetFilters()"
                    ng-disabled="noFiltersApplied">
                View All {{todos.length}} Todo{{todos.length === 1 ? "" : "s"}}
            </button>
            <button id="view-active-button"
                    ng-click="setFilter('isCompleted', false)"
                    ng-disabled="appliedFilters.isCompleted === false">
                View {{itemsLeftToDo}} Active Todo{{itemsLeftToDo === 1 ? "" : "s"}}
            </button>
            <button id="view-complete-button"
                    ng-click="setFilter('isCompleted', true)"
                    ng-disabled="appliedFilters.isCompleted">
                View {{itemsDone}} Complete Todo{{itemsDone === 1 ? "" : "s"}}
            </button>
            <button id="view-spinner-button" ng-click="toggleLoadSpinner()">
                {{loadingOverride ?  "Hide" : "Show"}} OneDiv&trade; Spinner
            </button>
        </div>
    </section>
</div>
<section class="scrollable">
    <div id="todo-list-placeholder" ng-show="isLoading || loadingOverride" apply-class-on-click="party-mode">
        <div id="todo-list-loading-spinner"></div>
        <h2>Loading</h2>
    </div>
    <div id="todo-list">
        <div class="list" ng-repeat="todo in todos | filter:appliedFilters | filter:search">
            <div ng-class="{'todo-item': !todo.isCompleted, 'todo-done': todo.isCompleted}">
                <div ng-hide="editingItem === todo" ng-bind="todo.title" ng-click="editMode(todo)"></div>
                <form ng-show="editingItem === todo" ng-submit="finishedEditing(todo)">
                    <input class="edit-text" type="text" ng-model="todo.title" autofocus />
                    <input class="edit-save" type="submit" value="Save" />
                </form>
                <button class="mark-done-button" data-id="{{todo.id}}" ng-disabled="todo.isCompleted" ng-click="markDone(todo)">
                    &#10003; Finish{{todo.isCompleted ? "ed" : ""}}
                </button>
                <button class="delete-button" data-id="{{todo.id}}" ng-click="deleteTodoButton(todo)">&#x2717; Delete</button>
            </div>
        </div>
    </div>
    <div id="error" ng-bind="errorText"></div>
</section>